@font-face {
  font-family: "iconfont"; /* Project id 3541390 */
  src: url('iconfont.woff2?t=1658754099170') format('woff2'),
       url('iconfont.woff?t=1658754099170') format('woff'),
       url('iconfont.ttf?t=1658754099170') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-u:before {
  content: "\e61f";
}

.icon-geren:before {
  content: "\e653";
}

.icon-shixintaoxin:before {
  content: "\e63b";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-search1:before {
  content: "\e668";
}

.icon-gouwuche:before {
  content: "\e7a5";
}

.icon-fuwuzhongxin:before {
  content: "\e650";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-Search:before {
  content: "\e6c1";
}

.icon-xin:before {
  content: "\e69b";
}

.icon-dingdanS:before {
  content: "\e64a";
}

.icon-iconremoveoutline:before {
  content: "\e67f";
}

.icon-duigou:before {
  content: "\e602";
}

.icon-icon-dingdan:before {
  content: "\e603";
}

.icon-icon-jiantou1:before {
  content: "\e604";
}

.icon-icon-jiantou2:before {
  content: "\e605";
}

.icon-jia:before {
  content: "\e606";
}

.icon-icon-geren:before {
  content: "\e607";
}

.icon-icon-search:before {
  content: "\e608";
}

.icon-icon-sousuo:before {
  content: "\e609";
}

.icon-icon-fuwu:before {
  content: "\e60a";
}

.icon-icon-vip:before {
  content: "\e60b";
}

.icon-icon-thumb_down:before {
  content: "\e60c";
}

.icon-icon-thumb_up:before {
  content: "\e60d";
}

.icon-icon-jifen:before {
  content: "\e60e";
}

.icon-jiantou:before {
  content: "\e60f";
}

.icon-icon-keyboard:before {
  content: "\e610";
}

.icon-icon-waimai:before {
  content: "\e611";
}

.icon-gouwuche1:before {
  content: "\e61d";
}

.icon-Closeguanbi2:before {
  content: "\e720";
}

.icon-circle-remove:before {
  content: "\e600";
}

.icon-Controlremove2-24px:before {
  content: "\e75f";
}

.icon-gouwuche2:before {
  content: "\e64f";
}

.icon-jifenguanli:before {
  content: "\e61e";
}

.icon-Shapex:before {
  content: "\e620";
}

.icon-search:before {
  content: "\e652";
}

.icon-yonghu:before {
  content: "\e64d";
}

